* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Georgia, serif;
}

#page-wrap{
    margin: 2% auto;
    color: white;	
}

#page-wrap > .main{
    border: 2px solid white;
    margin-bottom: 1px;
    padding: 1%;
    color: black;
}

section > div{
	padding: 28px;
}

header, nav, section, footer{
	background: #eee;
	text-align: center;
}

nav span{
	margin: 0px 10px 0px 0px;
}

#ErrorMsgs{
	color: #f61;
	font-size: smaler;
}