<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= answer %></p>
    <h3><a href="/quizes/question">Intentalo otra vez!!!</a></h3>
  </body>
</html>