<table>

    <form method="get" action="/quizes">
	<p>Buscar:</p>
        <input type="text" name="search"></input>
	<input type="submit" value="Enviar">
    </form>

<p><%= search %></p>

<% var i; for (i=0; i < Quizes.length; i++) { %>
	<tr><td><a href="quizes/<%= Quizes[i].id %>"><%= Quizes[i].pregunta %></a></td></tr>
<% } %>
</table>