    <form method="get" action="/quizes/<%= question.id %>/answer">
	<p>Pregunta: <%= question.pregunta %></p>
        <input type="text" name="answer"></input>
	<input type="submit" value="Enviar">
    </form>